<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!tires"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="tires">
  <thead>
    <tr>
      <th>id</th>
      <th>typeId</th>
      <th>manufacturerId</th>
      <th>styleId</th>
      <th>width</th>
      <th>height</th>
      <th>rimSize</th>
      <th>locationId</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tire of tires">
      <td>{{ tire.id }}</td>
      <td>{{ tire.typeId }}</td>
      <td>{{ tire.manufacturerId }}</td>
      <td>{{ tire.styleId }}</td>
      <td>{{ tire.width }}</td>
      <td>{{ tire.height }}</td>
      <td>{{ tire.rimSize }}</td>
      <td>{{ tire.locationId }}</td>
    </tr>
  </tbody>
</table>
