<p *ngIf="!types || !tires || !manufacturers || !locations || !styles"><em>Loading...</em></p>

<!-- Type, Style and Manufacturer Selection-->
<div class="container container-fluid row m-lg-5">

  <div class="col alert alert-warning m-1">
    <h6 class="alert-heading">Select tire type:</h6>
      <select #typesList name="selectedType" [(ngModel)]="selectedType">
        <option></option>
        <option *ngFor="let type of types">{{type.name}}</option>
      </select>
</div>

  <div class="col alert alert-success m-1">
    <h6 class="alert-heading">Select style type:</h6>
      <select #styleList name="selectedStyle" [(ngModel)]="selectedStyle">
        <option></option>
        <option *ngFor="let style of styles">{{style.name}}</option>
      </select>
</div>

  <div class="col alert alert-info m-1">
    <h6>Select manufacturer type:</h6>
    <select #manufacturerList [(ngModel)]="selectedManufacturer" name="selectedManufacturer">
      <option></option>
      <option *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</option>
    </select>
    </div>

  <div class="col">
    <br />
    <!--<div *ngIf="manufacturerList.value != '' && styleList.value != '' && typesList.value != ''">-->
    <div *ngIf="selectedType && selectedStyle && selectedManufacturer">
      <button type="submit" (click)="showOptions(selectedType,selectedStyle,selectedManufacturer)" class="btn btn-primary m-1">See options</button>
      <button type="submit" (click)="cancel()" class="btn btn-danger m-1">Cancel</button>
    </div>
  </div>

  </div>

<div class="container container-fluid row m-2">

  <div class="col col-sm-4 m-1" *ngFor="let tireT of tiresTemp">

    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">
        <p>ID: {{tireT.id}}</p>
      </div>
      <div class="card-body">
        <ul>
          <li>typeId: {{tireT.typeId}}</li>
          <li>manufacturerId: {{tireT.manufacturerId}}</li>
          <li>styleId: {{tireT.styleId}}</li>
          <li>width: {{tireT.width}}</li>
          <li>height: {{tireT.height}}</li>
          <li>rimSize: {{tireT.rimSize}}</li>
          <li>locationId: {{tireT.locationId}}</li>
        </ul>
      </div>
    </div>
  </div>


</div>





