<p *ngIf="!locations"><em>Loading...</em></p>

<div class="row container-fluid">

  <div class="col col-sm-3" *ngFor="let location of locations">

    <div class="card text-white bg-success mb-3" style="max-width: 20rem;">
      <div class="card-header">
          <p>Location: {{location.locationName}}</p>
          <button class="btn btn-danger btn-sm m-1" (click)="updateToggle(location)">Update</button>
        </div>
        <div class="card-body">
          <ul>
            <li>tireId: {{location.tireId}}</li>
            <li>Quantity: {{location.quantity}}</li>
            <li>Year: {{location.year}}</li>
            <li>Price: {{location.price}}</li>
          </ul>
        </div>
      </div>

  </div>

</div>

<div *ngIf="updateMode" class="container">
  <app-update-qty [values]="values" [locationToShow]="locationToShow" (cancelUpdate)="cancelUpdateMode($event)"></app-update-qty>
</div>
